@model Chemitech.Models.Laboratorio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEmpresaColeta.cshtml";
}

<h3 class="margen">Detalhes</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.EmpresaQuimico.NomeEmpresa)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmpresaQuimico.NomeEmpresa)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Localizacao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Localizacao)
                    </dd>

                </dl>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink("Editar", "Edit", "Laboratorios", new { id = Model.Id, @class = "btn-cadastrar" })

                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Voltar", "Index", "Laboratorios", new { @class = "btn-cadastrar  direita" })
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div>
                <img class="img" src="~/Imagens/ChemistrySet3.gif" />
            </div>

        </div>
    </div>
</div>