@model Chemitech.Models.Residuo

@{
    ViewBag.Title = "CriarResiduo";
    Layout = "~/Views/Shared/_LayoutQuimico.cshtml";
}

<h2 class="margen">Cadastrar residuo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-12 caixaLaboratorioBombonaQuimico">
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12 caixaLaboratorioBombonaQuimico">
                            @Html.EditorFor(model => model.tipo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoPericulosidade, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-12 caixaLaboratorioBombonaQuimico">
                            @Html.EnumDropDownListFor(model => model.TipoPericulosidade, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TipoPericulosidade, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.EmpresaQuimicoId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.EmpresaQuimicoId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EmpresaQuimicoId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UsuarioQuimicoId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UsuarioQuimicoId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UsuarioQuimicoId, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Cadastrar" class="btn btn-default btn-cadastrar" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 direito">
                    <img class="img" src="~/Imagens/ChemistrySet3.gif" />
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
