@model Chemitech.Models.Descarte

@{
    ViewBag.Title = "CadastrarResiduo";
    Layout = "~/Views/Shared/_LayoutQuimico.cshtml";
}

<h2 class="margen">Descartar residuo</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(model => model.BombonaId)
        @Html.HiddenFor(model => model.UsuarioQuimicoId)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.ResiduoId, "Resíduo", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12 caixaLaboratorioBombonaQuimico">
                            @Html.DropDownList("ResiduoId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ResiduoId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.QuantidadeAtual, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-12 caixaLaboratorioBombonaQuimico">
                            @Html.EditorFor(model => model.QuantidadeAtual, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuantidadeAtual, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Descartar" class="btn btn-default btn-cadastrar" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6 direito">
                    <img class="img" src="~/Imagens/ChemistrySet3.gif" />
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


