@model Chemitech.Models.UsuarioQuimico

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutEmpresaColeta.cshtml";
}

<h2 class="margen">Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-12 caixa">
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12 caixa">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12 caixa">
                                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12 caixa">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Status)
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@


                    <div class="row">
                        <div class="col-md-offset-2 col-md-6">
                            <input type="submit" value="Salvar" class="btn btn-default btn-cadastrar" />
                        </div>
                        <div class="col-md-6">
                            @Html.ActionLink("Voltar", "Index", "UsuarioQuimicoes", new { @class = "btn-cadastrar botonMargim " })
                        </div>
                    </div>


                </div>
                <div class="col-md-6">
                    <img class="img" src="~/Imagens/ChemistrySet3.gif" />
                </div>
            </div>
        </div>
    </div>
}

